// COLORS

$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$grey: #ccc;
$current: invert(44%) sepia(70%) saturate(1753%) hue-rotate(344deg) brightness(97%) contrast(107%);

// TRANSITIONS
$smooth: all 0.3s ease-in-out;