@import './variables';
// NOTY CSS IMPORT
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

// NAVBAR
nav li:last-child a {
    &:hover {
        background-color: $primary-hover;
    }

    background-color: $primary;
}

nav li a {
    transition: $smooth;

    &:hover {
        color: $primary;
    }
}

// HERO SECTION
section.hero {
    background-color: $secondary;
}

// PIZZA MENU
.size {
    background: $secondary;
}

.add-to-cart {
    &:hover {
        border-color: $pure;
        color: $pure;
        background: $primary;
    }

    &:focus {
        outline: none;
    }

    transition: $smooth;
    border: 2px solid $primary;
    color: $primary;
}

.grid-st {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
}

// CART SECTION
section.cart {
    background: $secondary;

    .amount {
        color: $primary;
    }
}

// LOGIN AND REGISTER
section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);

    a {
        &:hover {
            color: $primary-hover;
        }

        color: $primary;
    }
}

// ORDER TABLE STYLING
a.link {
    color: $primary;
}

// UTILITY CLASSES
.btn-primary {
    &:hover {
        background: $primary-hover;
    }

    transition: $smooth;
    background: $primary;
}

// NOTY MODIFICATION FOR MESSAGES
.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}