@import './variables';
// NOTY CSS IMPORT
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

// NAVBAR
nav li:last-child a {
    &:hover {
        background-color: $primary-hover;
    }

    background-color: $primary;
}

nav li a {
    transition: $smooth;

    &:hover {
        color: $primary;
    }
}

// HERO SECTION
section.hero {
    background-color: $secondary;
}

// PIZZA MENU
.size {
    background: $secondary;
}

.add-to-cart {
    &:hover {
        border-color: $pure;
        color: $pure;
        background: $primary;
    }

    &:focus {
        outline: none;
    }

    transition: $smooth;
    border: 2px solid $primary;
    color: $primary;
}

.grid-st {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
}

// CART SECTION
section.cart {
    background: $secondary;

    .amount {
        color: $primary;
    }
}

// LOGIN AND REGISTER
section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);

    a {
        &:hover {
            color: $primary-hover;
        }

        color: $primary;
    }
}

// ORDER TABLE STYLING
a.link {
    color: $primary;
}

// SINGLE ORDER STATUS PAGE STYLING
section.status {
    background: $secondary;
    min-height: calc(100vh - 86px);
}

.status-box {
    padding: 25px 0 0;
}

.status-box ul {
    margin-left: 84px;
}

.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 1px 10px $secondary;
}

// ADDING ICONS TO STATUS
.status-box ul li span:before {
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
}

.status-box ul li:nth-child(1) span:before {
    content: url('/img/_1.png');
}

.status-box ul li:nth-child(2) span:before {
    content: url('/img/_2.png');
}

.status-box ul li:nth-child(3) span:before {
    content: url('/img/_3.png');
}

.status-box ul li:nth-child(4) span:before {
    content: url('/img/_4.png');
}

.status-box ul li:nth-child(5) span:before {
    content: url('/img/_5.png');
}

// LINE STYLING
.status-box ul li {
    position: relative;
}

.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}

// REMOVE LAST EXTA LINE
.status-box ul li:nth-child(5) span:after {
    box-shadow: 0 20px 1px 20px $secondary;
}

// STEP COMPLETION
// LINE
.status-box ul li.step-completed:before {
    background: $grey;
}

// ICONS
.status-box ul li span.mk-grey:before {
    filter: grayscale(100%);
}

// DOTS
.status-box ul li.step-completed span:after {
    background: $grey;
}

// TEXT
.status-box ul li.step-completed span {
    color: $grey;
}

// UTILITY CLASSES
.btn-primary {
    &:hover {
        background: $primary-hover;
    }

    transition: $smooth;
    background: $primary;
}

// NOTY MODIFICATION FOR MESSAGES
.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}