<section class="status">
    <div class="container mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold ">Track Delivery Status</h1>
                <h6 class="bg-white py-1 rounded-full text-green-600 text-s px-4">
                    <%=order._id%>
                </h6>
                <input type="hidden" value="<%=JSON.stringify(order)%>" id="hiddenInput">
            </div>
            <ul>
                <li data-status="Order Placed" class="status_line text-sm md:text-xl pb-16 step-completed">
                    <span class="mk-grey">Order Placed</span>
                </li>
                <li data-status="confirmed" class="status_line text-sm md:text-xl pb-16 current step-completed">
                    <span class="mk-grey">Order Confirmation</span>
                </li>
                <li data-status="prepared" class="status_line text-sm md:text-xl pb-16 step-completed">
                    <span class="mk-grey">Preparation</span>
                </li>
                <li data-status="delivered" class="status_line text-sm md:text-xl pb-16 step-completed">
                    <span class="mk-grey">Out for delivery</span>
                </li>
                <li data-status="completed" class="status_line text-sm md:text-xl step-completed">
                    <span class="mk-grey">Complete</span>
                </li>
            </ul>
        </div>
    </div>
</section>